%li{:class => "clearfix record #{cycle("on", "on-hover")}", :id => dom_id(digidownload)}
  %span.title
    = digidownload.doc_file_name
  %span.actions
    -#
    = link_to refinery_icon_tag("application_edit.png"), refinery.edit_products_admin_digidownload_path(digidownload), |
      :title => t('.edit')                                                                                   |
    -#
    = link_to refinery_icon_tag("delete.png"), refinery.products_admin_digidownload_path(digidownload), |
      :class => "cancel confirm-delete",                                                      |
      :title => t('.delete'),                                                                 |
      :confirm => t('message', :scope => 'refinery.admin.delete', :title => digidownload.doc_file_name),    |
      :method => :delete                                                                      |
